.wrap-product {
    background-color: rgb(255 255 255/1);
    border-radius: 1rem;
    border: 1px solid #fff;
    margin-top: 2rem;

    &:hover {
        border: 1px solid black;
        transition: all 0.4s ease-in-out;
    }
}

